<div class="row">
    <div class="medium-6 medium-centered large-4 large-centered columns">
        <form ng-submit="vm.login(vm.user)" class="log-in-form">
            <div class="row column" id="start">
                <h4 class="text-center">Log in</h4>
                <label>username
                    <input type="text" placeholder="somebody@example.com" ng-model="vm.user.username">
                </label>
                <label>Password
                    <input type="password" placeholder="Password" ng-model="vm.user.password">
                </label>
                <p><button type="submit" class="button expanded">Log In</button></p>
                <p class="center">Don't have an account? <a ui-sref="register">register</a>
            </div>
        </form>
    </div>
</div>
